<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtruj transakcje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Filtruj transakcje</h1>
    <form method="post">
        <label for="type">Typ transakcji:</label>
        <select id="type" name="type">
            <option value="Expense">Wydatek</option>
            <option value="Income">Przychód</option>
        </select>
        <button type="submit">Filtruj</button>
    </form>
    <a href="{{ url_for('users.dashboard') }}">Powrót do transakcji</a>
</body>
</html>
