<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Budget App</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>   -->
    
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    

</head>
<body>
    <h1>Budget App</h1>
    
    <div class="rectangle">
        <a href="{{url_for('main.index')}}" style="display: flex; text-align: start; color: black; font-size: 30px; font-weight: 500; padding: 25px 35px; text-decoration: none; word-wrap: break-word; max-width: fit-content;" onmouseover="this.style.color='#F17272'" onmouseout="this.style.color='black'"> << Home</a>

        <h2 style="text-align: center; color: black; font-size: 60px; font-weight: 500; padding: 10px; word-wrap: break-word">REJESTRACJA</h2>

        <form method="post" action="{{ url_for('users.register') }}" style="text-align: center;">
            {{ form.csrf_token }}

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <label for="username">Username:</label>
            {{ form.username(class="form-control", required=True) }}

            <label for="password">Password:</label>
            {{ form.password(class="form-control", required=True) }}

            <br>
            <br>
            <button type="submit" class="btn btn-primary" style="display: inline-block; max-width: 350px; text-align: center; padding: 15px 75px; cursor: pointer;color: white ;background-color: #333; font-size: 30px; font-weight: 400; text-decoration: none; word-wrap: break-word" onmouseover="this.style.color='#F17272'" onmouseout="this.style.color='white'">Register</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h3 style="text-align: center; color: black;  font-size: 40px; font-weight: 500; padding: 10px; word-wrap: break-word">Masz już konto?</h3>

        <div style="text-align: center;">
            <a href="{{url_for('users.login')}}" style="display: inline-block; max-width: 350px; text-align: center; padding: 15px 75px; cursor: pointer;color: white ;background-color: #333; font-size: 30px; font-weight: 400; text-decoration: none; word-wrap: break-word" onmouseover="this.style.color='#F17272'" onmouseout="this.style.color='white'">ZALOGUJ</a>
        </div>
        
    </div>
</body>
</html>
